@layer kelp.theme {
	:where(:root) {
		--color-blue-base: #1C9AF3;
		--color-blue-hue: 246.74;
		--color-blue-chroma: 0.9484760980127133;
	}
}

/* :where(:root) :global(.light) {
	--color-background: #1C9AF3;
} */

html {
	display: block;
}

html,
body {
	height: 100%;
}

input,
select,
textarea {
	&:focus,
	&:hover {
		background-color: var(--color-blue-base);
		color: var(--color-background);

		&::placeholder {
			color: var(--color-blue-90);
		}
	}

	&:not(:focus) {
		border-color: transparent;
	}
}

textarea {
	--height: 3ch;

	resize: none;
}

main {
	align-content: end;
	flex: 1;
	overflow-y: auto;
}

body > footer {
	box-shadow: 0 calc(-1 * var(--size-5xs)) var(--size-5xs) var(--color-gray-90);
}

img,
svg {
	&[class*=size-] {
		width: var(--font-size);
	}
}

.CardListIcon {
	width: 2rem;
}
